

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            <div class="col-sm-6">
               
            </div><!-- /.col -->
            
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
  
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            
            <!-- /.row -->
            <!-- Main row -->
            
            <!-- /.row (main row) -->
            </div><!-- /.container-fluid -->
            <div class="container-fluid">
    
    
    
    
    
    
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
            
            <div class="row">
                <div class="col-12">
                
                        <!-- general form elements -->
                        <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Toutes les pages</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <div class="card-body">
                        
                          <table id="example1" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                             <th>Nom de la page</th>
                             
                             <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody id="miscdata">
                                <% pages.forEach(element => { %>
                                    <tr>
                                      <td><%= element.page_name %> </td>
                                    
                                      <td>
                                        <button onclick='handleview("<%= element._id %>")' class="btn btn-primary" style="width:60px;font-size: smaller;padding: 0%;">Voir</button><button onclick='handledelete("<%= element._id %>")'  class="btn btn-danger" style="width:70px;padding: 0%;font-size: smaller">Supprimer</button>
                                   
                                  </td>
                                    </tr>
                                    <% }); %>
                            </tbody>
                          
                          
                          
                           
                          
                          </table>
                        </div>
                        </div>
                      
                <!-- /.card -->
    
            
                <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
        
    
    
        <script>
         
           function handledelete(id){
               var r = confirm("Are you sure you want to delete this lawyer?");
               const requestOptions = {
                     method: 'get',
         
                 };
                 let url='/admin-panel/apptext_deletepage/'+id;
               if (r == true) {
                 fetch(url,requestOptions).then(function(response){
                   alert("Lawyer deleted successfully");
                   window.location.reload();
                 });
               } else {
                 window.location.href = "/admin-panel/lawyersindividual";
               }
             }
             
             function handleview(id){
              
               
               const requestOptions = {
                     method: 'get',
         
                 };
               let url='/admin-panel/apptext_editpage/'+id;
               
               window.location.href = url;
             }
           
         </script>
    
    
            </div>
        
        </section>
    
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
   
    </div>
    <!-- ./wrapper -->
  
    <!-- jQuery -->
