<script
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7uyZ6P0gyfKIlKKkXCKocCSee-ZFHPvQ&callback=initMap&v=weekly"
defer
></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Carte</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
            
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
       
        <div id="map" style="height:400px ;width:100%"></div>
        <!-- /.row -->
        <!-- Main row -->
      
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
      <div class="container-fluid">




 

    <!-- Main content -->
   
    <!-- /.content -->
  





      </div>
    
    </section>
   
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
 
</div>
<!-- ./wrapper -->
<script>
   
     // The following example creates complex markers to indicate beaches near
// Sydney, NSW, Australia. Note that the anchor is set to (0,32) to correspond
// to the base of the flagpole.
// The following example creates five accessible and
// focusable markers.

function initMap() {
  const map = new google.maps.Map(document.getElementById("map"), {
   zoom:8,
    center: { lat:48.856613, lng:2.352222},
  });
  var tourStops = <%- JSON.stringify(geocodes) %>;
  setMarkers(map,tourStops);
}
 
function setMarkers(map,locations){

var marker, i

for (i = 0; i < locations.length; i++)
{  
console.log(locations[i]);
var loan = locations[i][1]
var lat = locations[i][0]["lat"]
var long = locations[i][0]["lng"]
var add =  locations[i][2]

latlngset = new google.maps.LatLng(lat, long);

var marker = new google.maps.Marker({  
    map: map, title: loan , position: latlngset  
  });
  map.setCenter(marker.getPosition())

  var content = "<div style='width:100px; height:60px'><img src='<%=root_url%>/static/public/"+add+"' style='width:100px; height:60px'></div><div style='float:right;'><b>"+loan+"</b></div>"
  // var content = "Loan Number: " + loan +  '</h3>' + "Address: " + add     

var infowindow = new google.maps.InfoWindow()

google.maps.event.addListener(marker,'click', (function(marker,content,infowindow){ 
  return function() {
     infowindow.setContent(content);
     infowindow.open(map,marker);
  };
})(marker,content,infowindow)); 

}
}
  
  

 
window.initMap = initMap;
  </script>
