<script
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7uyZ6P0gyfKIlKKkXCKocCSee-ZFHPvQ&callback=initMap&v=weekly"
defer
></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Carte</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Carte</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
       
        <div id="map" style="height:400px ;width:100%"></div>
        <!-- /.row -->
        <!-- Main row -->
      
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
      <div class="container-fluid">




 

    <!-- Main content -->
   
    <!-- /.content -->
  





      </div>
    
    </section>
   
    <!-- /.content -->
  </div>
 
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<script>
    $(function () {
      $("#example1").DataTable({
        "responsive": true, "lengthChange": false, "autoWidth": false,
        "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
      }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
      $('#example2').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "responsive": true,
      });
    });
     // The following example creates complex markers to indicate beaches near
// Sydney, NSW, Australia. Note that the anchor is set to (0,32) to correspond
// to the base of the flagpole.
// The following example creates five accessible and
// focusable markers.

function initMap() {
  const map = new google.maps.Map(document.getElementById("map"), {
    zoom: 8,
    center: { lat: 51.5072178, lng: -0.1275862 },
  });
  // var geocodes=[];
  // var geocode = new google.maps.Geocoder();
  // var address = document.getElementById("address").value;
  // geocode.geocode({ 'address': address }, function (results, status) {
  //   if (status == 'OK') {
  //     map.setCenter(results[0].geometry.location);
  //     var marker = new google.maps.Marker({
  //       map: map,
  //       position: results[0].geometry.location,
  //       title: address,
  //       draggable: true,
  //       animation: google.maps.Animation.DROP,
  //     });
  //     geocodes.push(results[0].geometry.location);
  //   }});
  // Set LatLng and title text for the markers. The first marker (Boynton Pass)
  // receives the initial focus when tab is pressed. Use arrow keys to
  // move between markers; press tab again to cycle through the map controls.
  // const tourStops = [
  //   [{ lat: 34.8791806, lng: -111.8265049 }, "Boynton Pass"],
  //   [{ lat: 34.8559195, lng: -111.7988186 }, "Airport Mesa"],
  //   [{ lat: 34.832149, lng: -111.7695277 }, "Chapel of the Holy Cross"],
  //   [{ lat: 34.823736, lng: -111.8001857 }, "Red Rock Crossing"],
  //   [{ lat: 34.800326, lng: -111.7665047 }, "Bell Rock"],
  // ];
  //let tourStops=[]
  // 
// console.log(tourStops)
// const image = {
//     url: "http://localhost:9090/static/public/lawyerprofile/lawyerprofile/0e822cfd9ce6efe4b7ff4c03e9afdc81",
//     // This marker is 20 pixels wide by 32 pixels high.
//     size: new google.maps.Size(20, 32),
//     // The origin for this image is (0, 0).
//     origin: new google.maps.Point(0, 0),
//     // The anchor for this image is the base of the flagpole at (0, 32).
//     anchor: new google.maps.Point(0, 32),
//   };
  var tourStops = <%- JSON.stringify(geocodes) %>;
  // console.log(typeof data);
  // console.log(typeof tourStops);
  // Create an info window to share between markers.
  const contentString="<img src='http://localhost:9090/static/public/lawyerprofile/0e822cfd9ce6efe4b7ff4c03e9afdc81' style='width:100px; height:60px'/>";
  

  // Create the markers.
  tourStops.forEach(([position, title,photo], i) => {
    console.log(photo,i,position,title);
    infowindow = new google.maps.InfoWindow({
    content: "<div style='width:100px; height:60px'><img src='<%=root_url%>/static/public/"+photo+"' style='width:100px; height:60px'></div><div style='float:right;'><b>"+title+"</b></div>",
    
    maxWidth: 130,
    
  });
    let marker = new google.maps.Marker({
      position,
      map,
      title: `${i + 1}. ${title}`,
     
      label: `${i + 1}`,
      optimized: false,
    });

    // Add a click listener for each marker, and set up the info window.
    marker.addListener( "click", function() {
    infowindow.open(map, marker);
  });
  infowindow.open(map, marker);

   
  });
 
}

  </script>
