

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
      <div class="container-fluid">
          <div class="row mb-2">
          <div class="col-sm-6">
             
          </div><!-- /.col -->
          
          </div><!-- /.row -->
      </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <section class="content">
          <div class="container-fluid">
          <!-- Small boxes (Stat box) -->
          
          <!-- /.row -->
          <!-- Main row -->
          
          <!-- /.row (main row) -->
          </div><!-- /.container-fluid -->
          <div class="container-fluid">
  
  
  
  
  
  
      <!-- Main content -->
      <section class="content">
          <div class="container-fluid">
          
          <div class="row">
              <div class="col-12">
              
                      <!-- general form elements -->
                      <div class="card card-primary">
                      <div class="card-header">
                          <h3 class="card-title">Notifications</h3>
                      </div>
                      <!-- /.card-header -->
                      <!-- form start -->
                      <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Misc type</label>
                                <select   class="form-control" id="misctype" onchange="handlechange()">
                                   <option value="">Choose</option>
                                    <% miscs?.misctype?.forEach(function(misctype) { %>
                                        <option value="<%= misctype.name %>"><%= misctype.name %></option>
                                    <% }); %>
                                   
                                </select>
                               
                            </div>
                        </form>
                        <table id="example1" class="table table-bordered table-hover">
                          <thead>
                          <tr>
                           <th>Field</th>
                           
                           <th>Actions</th>
                          </tr>
                          </thead>
                          <tbody id="miscdata">
                       
                          </tbody>
                        
                        
                        
                         
                        
                        </table>
                      </div>
                      </div>
                    
              <!-- /.card -->
  
          
              <!-- /.card -->
              </div>
              <!-- /.col -->
          </div>
          <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
      </section>
      <!-- /.content -->
      
  
  
      <script>
        $(function () {
           $("#example1").DataTable({
             "responsive": true, "lengthChange": false, "autoWidth": false,
             "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
           }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
           $('#example2').DataTable({
             "paging": true,
             "lengthChange": false,
             "searching": false,
             "ordering": true,
             "info": true,
             "autoWidth": false,
             "responsive": true,
           });
         });
         function handledelete(id){
             var r = confirm("Are you sure you want to delete this lawyer?");
             const requestOptions = {
                   method: 'get',
       
               };
               let url='/admin-panel/deletemisc/'+id+'/'+$('#misctype').val();
             if (r == true) {
               fetch(url,requestOptions).then(function(response){
                 alert("Lawyer deleted successfully");
                 window.location.reload();
               });
             } else {
               window.location.href = "/admin-panel/lawyersindividual";
             }
           }
           
           function handleview(id){
            
             var misctype=$("#misctype").val();
             const requestOptions = {
                   method: 'get',
       
               };
             let url='/admin-panel/editmisc/'+id+'/'+misctype;
             
             window.location.href = url;
           }
           function handlechange(){
             
           const misctype = document.getElementById("misctype").value;
           
               
                   var baseurl= "<%= base_url %>";
                   var url= baseurl+"getmiscdata/"+misctype;
                  
                   const requestOptions = {
                   method: 'get'
               };
               fetch(url, requestOptions)
               .then(response => response.json())
               .then(data => {
                   if(data.status){
                     $("#miscdata").html('');
                   
                     data.data?.map(element => {
                     
                       $("#miscdata").append("<tr><td>"+element.name+"</td><td><button onclick='handleview("+`${element._id}`+")' class='btn btn-primary' style='width:60px;font-size: smaller;padding: 0%;'>View</button><button onclick='handledelete("+element._id+")'  class='btn btn-danger' style='width:70px;padding: 0%;font-size: smaller'>Delete</button></td></tr>");
                       console.log("<tr><td>"+element.name+"</td><td><button onclick='handleview("+`${element._id}`+")' class='btn btn-primary' style='width:60px;font-size: smaller;padding: 0%;'>View</button><button onclick='handledelete("+element._id+")'  class='btn btn-danger' style='width:70px;padding: 0%;font-size: smaller'>Delete</button></td></tr>")
                     });
                   }else{
                       toastr.error(data.message);
                   }
               })
           }
       </script>
  
  
          </div>
      
      </section>
  
      <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
      <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong>
      All rights reserved.
      <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 3.2.0
      </div>
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
  </div>
  <!-- ./wrapper -->

  <!-- jQuery -->
  <script src="<%= base_url %>plugins/jquery/jquery.min.js"></script>
  <!-- jQuery UI 1.11.4 -->
  <script src="<%= base_url %>plugins/jquery-ui/jquery-ui.min.js"></script>
  <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
  <script>
  $.widget.bridge('uibutton', $.ui.button)
  </script>
  <!-- Bootstrap 4 -->
  <script src="<%= base_url %>plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- ChartJS -->
  <script src="<%= base_url %>plugins/chart.js/Chart.min.js"></script>
  <!-- Sparkline -->
  <script src="<%= base_url %>plugins/sparklines/sparkline.js"></script>
  <!-- JQVMap -->
  <script src="<%= base_url %>plugins/jqvmap/jquery.vmap.min.js"></script>
  <script src="<%= base_url %>plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
  <!-- jQuery Knob Chart -->
  <script src="<%= base_url %>plugins/jquery-knob/jquery.knob.min.js"></script>
  <!-- daterangepicker -->
  <script src="<%= base_url %>plugins/moment/moment.min.js"></script>
  <script src="<%= base_url %>plugins/daterangepicker/daterangepicker.js"></script>
  <!-- Tempusdominus Bootstrap 4 -->
  <script src="<%= base_url %>plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
  <!-- Summernote -->
  <script src="<%= base_url %>plugins/summernote/summernote-bs4.min.js"></script>
  <!-- overlayScrollbars -->
  <script src="<%= base_url %>plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
  <!-- AdminLTE App -->
  <script src="<%= base_url %>dist/js/adminlte.js"></script>
  <!-- AdminLTE for demo purposes -->
  <script src="<%= base_url %>dist/js/demo.js"></script>
  <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
  <script src="<%= base_url %>dist/js/pages/dashboard.js"></script>
  </body>
  </html>