<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Admin Coopdivercite</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="<%= base_url %>plugins/fontawesome-free/css/all.min.css">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="<%= base_url %>plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="<%= base_url %>dist/css/adminlte.min.css">
</head>
<body class="hold-transition register-page">
<div class="register-box">
  

  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <img src="<%= base_url %>public/slegal_logo.png" alt="AdminLTE Logo" style="opacity: 1;height:50px">
    </div>
    <div class="card-body register-card-body">
     

      <form >
       
        <div class="input-group mb-3">
          <input type="email" class="form-control" id="email" placeholder="Email">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" id="password" placeholder="Password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        
        <div class="row">
          
          <!-- /.col -->
          <div class="col-4">
            <button type="button" onclick="handlesubmit()" class="btn btn-primary btn-block">Register</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

     

      <a href="<%= base_url %>login" class="text-center">Vous avez déjà un compte
      </a>
    </div>
    <!-- /.form-box -->
  </div><!-- /.card -->
</div>
<!-- /.register-box -->
<script type="text/javascript">
    function handlesubmit(){
        var email = $('#email').val();
        var password = $('#password').val();
        var data = {
            'email': email,
            'password': password
        };
        var baseurl= "<%= base_url %>";
        var url= baseurl+"saveuser";
        const requestOptions = {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(data)
        };
        fetch(url, requestOptions)
        .then(response => response.json())
        .then(data => {
            if(data.status){
               alert(data.message);
                setTimeout(function(){
                    window.location.href = baseurl+"login";
                }, 2000);
            }else{
                alert(data.message);
            }
        })
    }
</script>
<!-- jQuery -->
<script src="<%= base_url %>plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="<%= base_url %>plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="<%= base_url %>dist/js/adminlte.min.js"></script>
</body>
</html>
