<!DOCTYPE html>
<html lang="en">

<head>
   <title>Coudmoi</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body class="mt-5 mb-5">
    <div>
        <div class="wow fadeIn about" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
            <div class="container">
               <div class="row">
                  <div class="col-lg-12 text-center pt-5">
                     <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 align-self-center">
                           <div class="row">
                              <div class="left-content header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                                 <div class="col-lg-12">
                                    <h2 class="pb-3">Politique de confidentialité </h2>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div>
            <div class="container ptb-5 pt-0">
               <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                     <p class="pb-3">Maghania Ziani a construit l'application Coudmoi en tant qu'application Freemium. Ce SERVICE est
                        fourni gratuitement par Maghnia Ziani avec des fonctionnalités payantes et est donc destiné à être
                        utilisé tel quel.
                     </p>
                     <p class="pb-3">Cette page est utilisée pour informer les visiteurs de nos politiques en matière de collecte, d'utilisation
                        et de divulgation des informations personnelles si quelqu'un décide d'utiliser notre service.
                     </p>
                     <p class="pb-3">Si vous choisissez d'utiliser notre service, vous acceptez la collecte et l'utilisation d'informations en
                        relation avec cette politique. Les informations personnelles que nous collectons sont utilisées pour
                        fournir et améliorer le service. Nous n'utiliserons ni ne partagerons vos informations avec qui que ce
                        soit, sauf de la manière décrite dans la présente politique de confidentialité.
                     </p>
                     <p class="pb-3">Les termes utilisés dans la présente politique de confidentialité ont la même signification que dans nos
                        conditions générales, qui sont accessibles sur Coudmoi, sauf indication contraire dans la présente
                        politique de confidentialité.
                     </p>
                     <h4 class="pt-4"><strong class="clr-0">Collecte et utilisation des informations </strong></h4>
                     <p class="pb-3">Pour une meilleure expérience, lors de l'utilisation de notre service, nous pouvons vous demander de
                        nous fournir certaines informations personnellement identifiables. Les informations que nous
                        demandons seront conservées par nous et utilisées comme décrit dans cette politique de
                        confidentialité.
                     </p>
                     <p class="pb-3">L'application utilise des services tiers qui peuvent collecter des informations utilisées pour vous
                        identifier.
                     </p>
                     <h4 class="pt-4"><strong class="clr-0">Données de journal </strong></h4>
                     <p class="pb-3">Nous souhaitons vous informer que chaque fois que vous utilisez notre service, en cas d'erreur dans
                        l'application, nous collectons des données et des informations (via des produits tiers) sur votre
                        téléphone, appelées données de journal. Ces données de journal peuvent inclure des informations telles
                        que l'adresse de protocole Internet ("IP") de votre appareil, le nom de l'appareil, la version du système
                        d'exploitation, la configuration de l'application lors de l'utilisation de notre service, l'heure et la date de
                        votre utilisation du service et d'autres statistiques.
                     </p>
                     <h4 class="pt-4"><strong class="clr-0">Cookies </strong></h4>
                     <p class="pb-3">Les cookies sont des fichiers contenant une petite quantité de données qui sont couramment utilisés
                        comme identifiants uniques anonymes. Ceux-ci sont envoyés à votre navigateur à partir des sites Web
                        que vous visitez et sont stockés dans la mémoire interne de votre appareil.
                     </p>
                     <p class="pb-3">Ce Service n'utilise pas explicitement ces « cookies ». Cependant, l'application peut utiliser du code tiers
                        et des bibliothèques qui utilisent des "cookies" pour collecter des informations et améliorer leurs
                        services. Vous avez la possibilité d'accepter ou de refuser ces cookies et de savoir quand un cookie est
                        envoyé sur votre appareil. Si vous choisissez de refuser nos cookies, vous ne pourrez peut-être pas
                        utiliser certaines parties de ce service.
                     </p>
                     <h4 class="pt-4"><strong class="clr-0">Les fournisseurs de services </strong></h4>
                     <p class="pb-3">Nous pouvons faire appel à des sociétés tierces et à des particuliers pour les raisons suivantes :</p>
                     <p class="pb-3">Pour faciliter notre Service ;</p>
                     <p class="pb-3">Pour fournir le Service en notre nom ;</p>
                     <p class="pb-3">Pour effectuer des services liés au Service ; ou</p>
                     <p class="pb-3">Pour nous aider à analyser comment notre Service est utilisé.</p>
                     <p class="pb-3">Nous souhaitons informer les utilisateurs de ce Service que ces tiers ont accès à leurs Informations
                        personnelles. La raison est d'accomplir les tâches qui leur sont confiées en notre nom. Cependant, ils
                        sont tenus de ne pas divulguer ou utiliser les informations à d'autres fins.
                     </p>
                     <h4 class="pt-4"><strong class="clr-0">Sécurité </strong></h4>
                     <p class="pb-3">Nous apprécions votre confiance en nous fournissant vos informations personnelles, nous nous
                        efforçons donc d'utiliser des moyens commercialement acceptables pour les protéger. Mais n'oubliez
                        pas qu'aucune méthode de transmission sur Internet ou méthode de stockage électronique n'est sûre et
                        fiable à 100 %, et nous ne pouvons garantir sa sécurité absolue.
                     </p>
                     <h4 class="pt-4"><strong class="clr-0">Liens vers d'autres sites </strong></h4>
                     <p class="pb-3">Ce Service peut contenir des liens vers d'autres sites. Si vous cliquez sur un lien tiers, vous serez dirigé
                        vers ce site. Notez que ces sites externes ne sont pas exploités par nous. Par conséquent, nous vous
                        conseillons vivement de consulter la politique de confidentialité de ces sites Web. Nous n'avons aucun
                        contrôle et n'assumons aucune responsabilité quant au contenu, aux politiques de confidentialité ou aux
                        pratiques des sites ou services tiers.
                     </p>
                     <h4 class="pt-4"><strong class="clr-0">Confidentialité des enfants </strong></h4>
                     <p class="pb-3">Ces Services ne s'adressent à personne de moins de 13 ans. Nous ne collectons pas sciemment
                        d'informations personnellement identifiables auprès d'enfants de moins de 13 ans. Dans le cas où nous
                        découvrons qu'un enfant de moins de 13 ans nous a fourni des informations personnelles, nous les
                        supprimons immédiatement de nos serveurs. Si vous êtes un parent ou un tuteur et que vous savez que
                        votre enfant nous a fourni des informations personnelles, veuillez nous contacter afin que nous
                        puissions faire les actions nécessaires.
                     </p>
                     <h4 class="pt-4"><strong class="clr-0">Modifications de cette politique de confidentialité </strong></h4>
                     <p class="pb-3">Nous pouvons mettre à jour notre politique de confidentialité de temps à autre. Ainsi, il vous est
                        conseillé de consulter cette page périodiquement pour tout changement. Nous vous informerons de
                        tout changement en publiant la nouvelle politique de confidentialité sur cette page.
                     </p>
                     <p class="pb-3">Cette politique est effective à partir du 2022-10-24</p>
                     <h4 class="pt-4"><strong class="clr-0">Nous contacter </strong></h4>
                     <p class="pb-3">Si vous avez des questions ou des suggestions concernant notre politique de confidentialité, n'hésitez
                        pas à nous contacter à Coudmoi@gmail.com.
                     </p>
                  </div>
               </div>
            </div>
         </div>
         </div>
     </div>
</body>

</html>